ipykernel

numpy
scipy

matplotlib
seaborn

scikit-learn
umap-learn

pandas

# To download weights from our Google Drive
gdown

torch 
torchvision

astropt
timm

# For neural ODEs and continuous normalizing flows
torchdiffeq
torchcfm
